/* Purple and Yellow CSS */

/* Body */
body {
    background-color: #362e46;
    color: #f1f1b9;
    padding: 5%;
}
  
/* Headers */
h1, h2, h3, h4, h5, h6 {
color: #f9d71c;
}

/* Links */
a {
color: #f39e00;
}

.container {
overflow-y: auto; /* Enable vertical scroll */
max-height: 100%; /* Adjust as needed */
}
