/*
.adoc__read * {
    overflow-y: auto; /* Enable vertical scroll
    background-color: var(--background-secondary);
    color: #f1f1b9;
    padding-left: 1rem;
    h1, h2, h3, h4, h5, h6 {
    color: #f9d71c;
    }
    a {
    color: #f39e00;
    }
}
*/